*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url("../assets/pkmBg.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.lista-pokemons{
    /* conjunto de pokemons */
    display: flex;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
    margin: 20px;
    list-style: none;
}
h3{
    /* config titulo pokedex */
    margin: 50px;
    margin-top: 0;
    border-radius: 20px;
    text-align: center;
    font-size: 70px;
    color: white;
    -webkit-text-stroke: black 1px;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 3px;
}
.pokemon{
    /* config "caixa" do pokemon */
    border: 1.5px solid black;
    border-radius: 5px;
    width: 400px;
    
    /* config img do pokemon */

    img{
        width: 380px;
        height: 200px;
        display: flex;
        justify-self: center;
        align-self: center;
        margin: 10px;
    }

    /* config nome do pokemon */

    p{
        text-align: center;
        font-size: 30px;
        font-weight: 100;
        text-transform: capitalize;
        font-family: 'Pokemon Solid', sans-serif;
        letter-spacing: 3px;
        color: white;
        background-color: black;
    }
}

/* efeito quando o cursor passa por cima */

li:hover{
    cursor: pointer;
    background-image: url("../assets/pkm.jpg");
    scale: 1.05;
}

/* cor definida para cada classe de pokemon */

.normal{background-color: #a8a678;}
.fire{background-color: #f0802f;}
.water{background-color: #698eec;}
.grass{background-color: #78c850;}
.electric{background-color: #f9d130;}
.ice{background-color: #99d7d8;}
.ground{background-color: #dec067;}
.flying{background-color: #a890ef;}
.poison{background-color: #9b44a7;}
.fighting{background-color: #bd3227;}
.psychic{background-color: #e8527d;}
.dark{background-color: #6a5548;}
.rock{background-color: #a38d31;}
.bug{background-color: #96a41d;}
.ghost{background-color: #5f4c86;}
.steel{background-color: #9695aa;}
.dragon{background-color: #5f30d0;}
.fairy{background-color: #cc8fa6;}